* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7eddf;
}

.buttons {
  margin: 50px;
}

.buttons button {
  background: #333;
  color: #fff;
  border: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.toast-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 400px;
  height: 80px;
  background: #fff;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: relative;
  transform: translateX(100%);
  animation: slideIn 0.2s linear forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.toast i {
  margin: 0 20px;
  font-size: 35px;
  color: green;
}

.toast.error i {
  color: red;
}

.toast.invalid i {
  color: blue;
}

.toast::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: green;
  animation: progress 4s linear;
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.toast.error::after {
  background-color: red;
}

.toast.invalid::after {
  background-color: blue;
}
